<template>
  <client-only>
    <div
      class="h-screen w-full bg-gray-100 overflow-hidden flex items-center justify-center"
    >
      <!-- Container -->
      <div class="w-full container mx-auto">
        <div class="w-full flex justify-center px-6 my-12">
          <!-- Row -->
          <div class="xl:w-3/4 lg:w-11/12 flex">
            <!-- 왼쪽 로고 이미지  -->
            <div
              class="h-auto bg-gray-400 hidden lg:block lg:w-1/2 bg-cover rounded-l-lg kitlab-logo-bg"
            ></div>
            <!-- 로그인 폼 -->
            <div
              class="w-full lg:w-1/2 bg-white p-5 rounded-lg lg:rounded-l-none"
            >
              <h3 class="pt-4 text-3xl text-center">
                Administator for KIT lab
              </h3>
              <form class="px-6 pt-6 pb-8 mb-4 bg-white rounded">
                <div class="mb-4 text-left">
                  <label
                    class="block mb-2 text-sm font-bold text-gray-700"
                    for="username"
                  >
                    Username
                  </label>
                  <input
                    v-model="userId"
                    :disabled="btnDisabled"
                    class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none"
                    name="userId"
                    type="text"
                    placeholder="Username"
                  />
                </div>
                <div class="mb-4 text-left">
                  <label
                    class="block mb-2 text-sm font-bold text-gray-700"
                    for="password"
                  >
                    Password
                  </label>
                  <input
                    v-model="pwd"
                    :disabled="btnDisabled"
                    class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border border-red-500 rounded shadow appearance-none focus:outline-none"
                    name="pwd"
                    type="password"
                    placeholder="Please choose a password."
                    autofocus
                    @keyup.enter="doLogin"
                  />
                </div>
                <div class="mb-4">
                  <input
                    id="checkbox_id"
                    class="mr-2 leading-tight"
                    type="checkbox"
                  />
                  <label class="text-sm" for="checkbox_id"> Remember Me </label>
                </div>
                <div class="mb-6 text-center">
                  <button
                    class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                    type="button"
                    :disabled="btnDisabled"
                    @click="doLogin"
                  >
                    로그인
                  </button>
                </div>
                <hr class="mb-6 border-t" />
                <div class="text-center">
                  <a
                    class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
                  >
                    Create an Account!
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </client-only>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
// import AuthStore from '../../../store/AuthStore'

@Component
export default class AdminLogin extends Vue {
  userId: string = 'kitlab'
  pwd: string = ''
  btnDisabled: boolean = false

  async doLogin() {
    // try {
    //   this.btnDisabled = true
    //   this.$nuxt.$loading.start()
    //   await AuthStore.doAdminLogin({ userId: this.userId, password: this.pwd })
    //   this.$nuxt.$loading.finish()
    //   if (AuthStore.isLogin) {
    //     this.$router.replace('/admin')
    //   } else {
    //     this.btnDisabled = false
    //     alert('로그인 정보를 확인 하십시오.')
    //   }
    // } catch (error) {}
  }
}
</script>

<style scoped>
.kitlab-logo-bg {
  background-image: url('/images/login/logo.png');
}
</style>
