<template>
  <img class="" :src="`/icons/${icon}.svg`" :alt="desc" />
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'

@Component
export default class Icon extends Vue {
  @Prop({ default: '' })
  icon: string

  @Prop({ default: 'icon' })
  desc: string
}
</script>

<style scoped></style>
