<template>
  <div
    class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1"
  >
    <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
      <p>
        <label for="name" class="bg-white text-gray-600 px-1"
          >{{ `${title} ${required ? '*' : ''}` }}
        </label>
      </p>
    </div>
    <p>
      <input
        v-model="content"
        autocomplete="false"
        type="text"
        class="py-1 px-1 text-gray-900 outline-none block h-full w-full"
        :disabled="disabled"
        :placeholder="placeholder"
        @input="handleInput"
      />
    </p>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'nuxt-property-decorator'

@Component
export default class Input extends Vue {
  @Prop({ default: 'Title' })
  title: string

  @Prop({ default: true })
  required: boolean

  @Prop({ default: '' })
  placeholder: string

  @Prop({ default: '' })
  value: string
  
  @Prop({ default: false })
  disabled: boolean 

  content: string = ''

  mounted() {
    this.content = this.value
  }

  @Watch('value') 
  watchValue (to: any) {
    this.content = to
  }
  

  /**
   * 인풋박스 데이터 바인딩
   */
  handleInput(e: any) {
    this.$emit('input', this.content)
  }
}
</script>

<style scoped></style>
