<template>
  <div>footer</div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component({})
export default class AdminFooter extends Vue {}
</script>

<style scoped></style>
