<template>
  <!-- header -->
  <div class="flex flex-row justify-evenly border-b border-gray-400 shadow-md">
    <div class="navh w-32 p-3 text-left">
      <img class="h-6 ml-3" src="/images/kitlab-log.png" alt="키드랩 로고" />
    </div>
    <div class="flex-auto flex flex-row justify-start">
      <template v-for="menu in menuList">
        <a
          :key="menu.code"
          class="h-full pt-3 border-blue-600 mx-3 lg:px-3"
          :class="{ 'border-b-4': selectedMenu === `${menu.name}` }"
          @mouseover="onHoverMenu(menu.name)"
          @mouseleave="onHoverMenu('')"
        >
          <button
            class="hover:bg-blue-100 font-semibold py-1 px-1 rounded focus:outline-none"
            @click="clickedMenu(menu)"
          >
            {{ menu.name }}
          </button>
          <transition
            enter-active-class="transition duration-300 ease-out transform"
            enter-class="-translate-y-3 scale-95 opacity-0"
            enter-to-class="translate-y-0 scale-100 opacity-100"
            leave-active-class="transition duration-150 ease-in transform"
            leave-class="translate-y-0 opacity-100"
            leave-to-class="-translate-y-3 opacity-0"
          >
            <div v-show="hoverMenu === menu.name" class="absolute pt-2">
              <div
                class="relative py-1 bg-white border border-gray-200 rounded-md shadow-xl"
              >
                <div
                  class="absolute top-0 w-4 h-4 origin-center transform rotate-45 translate-x-5 -translate-y-2 bg-white border-t border-l border-gray-200 rounded-sm pointer-events-none"
                ></div>
                <div class="relative">
                  <nuxt-link
                    v-for="children in menu.children"
                    :key="children.code"
                    class="block w-full px-4 py-2 font-small text-gray-600 whitespace-no-wrap hover:bg-gray-100 focus:outline-none hover:text-gray-900 focus:text-gray-900 focus:shadow-outline transition duration-300 ease-in-out"
                    :to="children.target"
                    @click="clickedSubMenu(menu)"
                  >
                    {{ children.name }}
                  </nuxt-link>
                </div>
              </div>
            </div>
          </transition>
        </a>
      </template>
      <!-- <a class="h-8"><button class="hover:bg-blue-100 font-semibold py-2 px-4 rounded focus:outline-none ">설정</button> </a> -->
    </div>
    <div class="flex justify-end items-center text-right">
      <!-- <div class="relative mx-auto text-gray-600 lg:block">
        <input
          class="border-2 border-gray-300 bg-white h-10 pl-2 pr-8 rounded-lg focus:outline-none"
          type="search"
          name="search"
          placeholder="Search"
        />
        <a class="absolute right-0 top-0 mt-2 mr-3">
          <img class="w-5" src="/icons/solid/search.svg" />
        </a>
      </div> -->
    </div>
    <div class="flex justify-end items-center pr-3">
      <!-- <span class="w-6 ml-3 rounded-full hover:bg-blue-100 cursor-pointer">
        <svg
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>
      </span> -->
      <span
        class="w-6 ml-3 rounded-full hover:bg-blue-100 cursor-pointer"
        @click="doSignOut"
      >
        <svg
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
          ></path>
        </svg>
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'

@Component
export default class AdminTopNavbar extends Vue {
  selectedMenu: string = ''
  hoverMenu: string = ''

  /**
   * 메뉴리스트
   */
  @Prop({ default: () => [] })
  menuList: any[]

  clickedMenu(clicked: any) {
    this.selectedMenu = clicked.name
    this.$emit('clickedMenu', clicked)
  }

  clickedSubMenu(clicked: any) {
    this.$emit('clickedSubMenu', clicked)
  }

  onHoverMenu(name: string) {
    this.hoverMenu = name
  }

  doSignOut() {
    // @ts-ignore
    this.$cookies.remove('KIT_TOKEN')
    this.$router.replace('/admin/login')
  }
}
</script>

<style scoped>
.navh {
  height: 56px;
}
</style>
