<template>
  <div v-show="menuList.children" class="left-menu">
    <div class="flex items-center justify-center mt-10">
      <h4 class="font-bold">{{ menuList.name }}</h4>
    </div>
    <nav class="mt-8">
      <div
        v-for="menu in menuList.children"
        :key="menu.code"
        class="cursor-pointer flex items-center mt-3 py-2 px-8 text-gray-600 border-r-4 border-white hover:bg-gray-200 hover:text-gray-700 hover:border-gray-700"
      >
        <svg
          class="w-4 inline-block"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"
          ></path>
        </svg>
        <nuxt-link class="mx-4 font-medium" :to="menu.target">{{
          menu.name
        }}</nuxt-link>
        <!-- <span class="mx-4 font-medium" :to="menu.target">{{ menu.name }}</span> -->
      </div>
    </nav>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'

@Component
export default class AdminLMenuSlider extends Vue {
  @Prop({ default: () => [] })
  menuList: any[]
}
</script>

<style scoped>
.left-menu {
  width: 220px;
  background: '#f9fbfd';
}
</style>
