<template>
  <div class="flex flex-col w-screen h-screen overflow-hidden">
    <AdminTopNavbar :menu-list="menuList" @clickedMenu="clickedMenu" />
    <div class="flex-auto">
      <div class="h-full flex flex-row">
        <!-- <AdminLMenuSlider :menu-list="subMenu"> </AdminLMenuSlider> -->
        <div class="flex-auto border-l-2 admin-bg-color shadow-xl">
          <!-- contents body -->
          <Nuxt />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import AdminFooter from '../components/admin/AdminFooter.vue'
import { IResponse, ResponseCode } from '../types/biz'

@Component({
  components: {
    AdminFooter,
  },
})
export default class AdminLayout extends Vue {
  menuList: any[] = []
  subMenu: any[] = []

  async created() {
    if (process.client) {
      if (this.menuList.length === 0) {
        await this.getMenuList()
      }
    }
  }
  /**
   * 메뉴트리 랜더링
   */
  // async fetch() {
  //   await this.getMenuList()
  // }

  async getMenuList() {
    try {
      const res: IResponse | any = await this.$Api.get(
        '/api/v1/admin/menu/default'
      )
      if (res.status === ResponseCode.OK) {
        this.menuList = res.data
      }
    } catch (error) {}
  }

  /**
   * Top메뉴 클릭시
   */
  clickedMenu(clicked: any) {
    this.subMenu = clicked
  }
}
</script>

<style>
.admin-bg-color {
  background: #f5f5f5;
}
</style>
