<template>
  <div class="container" style="height: 100vh">coming soon!</div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component({
  layout: 'admin',
})
export default class AdminIndex extends Vue {
  mounted() {
    this.$nuxt.$router.replace('/admin/invoice')
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
